* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui;
}

body {
    margin: 0;
    background-color: $clr3;

}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

